<!DOCTYPE html>
<html>
  <main role="main">
    <class="sec-intro" role="section">
      <img src="./Images/small-logo2.png" alt="Images/small-logo2.png/>" />
      <div>
  <head>
    <meta http-equiv="refresh" content="1; url='https://azureb2chuskywebdev.b2clogin.com/azureb2chuskywebdev.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_Husky_webdev&client_id=f322b4f3-38cb-40ca-9395-dd378de8d198&nonce=defaultNonce&redirect_uri=https%3A%2F%2Fweb.husky-webdev.codes%2Fmain&scope=openid&response_type=code&prompt=login'" />
  </head>
  <body>
    <p>Please follow to sign in to my website<a href="https://azureb2chuskywebdev.b2clogin.com/azureb2chuskywebdev.onmicrosoft.com/oauth2/v2.0/authorize?p=B2C_1_Husky_webdev&client_id=f322b4f3-38cb-40ca-9395-dd378de8d198&nonce=defaultNonce&redirect_uri=https%3A%2F%2Fweb.husky-webdev.codes%2Fmain&scope=openid&response_type=code&prompt=login">Follow me</a>.</p>
    <p><a href="/main/">Got an erra</a>.</p>
  </body>
</html>
